:root {
    --rojoBrillante: rgb(242, 95, 58);
    --azulOscuro: rgb(35, 44, 81);
    --azulGrisaceo: rgb(143, 148, 167);
    --azulMuyOscuro: rgb(29, 30, 37);
    --roloPalido: rgb(255, 239, 234);
    --grisClaro: rgb(211, 204, 204);
    --blancoNatural: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 40px 100px;
}

figure {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

figure img {
    width: 20px;
}

figure h1 {
    font-size: 2rem;
    color: var(--azulOscuro);
    font-weight: bold;
}

nav ul {
    display: inline-flex;
    font-weight: 600;
    list-style: none;
}

li a {
    align-items: center;
    color: var(--azulOscuro);
    text-decoration: none;
    padding: 10px 20px 10px 0px;
    font-weight: inherit;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    margin-right: 10px;
}

li a::after {
    content: "";
    display: inline-flex;
    background: var(--rojoBrillante);
    width: 60%;
    position: relative;
    bottom: 10px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;

}

li a:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

nav button {
    display: inline-block;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    background-color:rgb(112, 13, 13);
    color: var(--blancoNatural);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/* HEADER Y NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 35px;
}

figure {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
}

figure img {
    width: 20px;
}

figure h1 {
    font-size: 2rem;
    color: var(--azulOscuro);
    font-weight: bold;
}

nav ul {
    display: inline-flex;
    font-weight: 600;
    list-style: none;
}

li a {
    align-items: center;
    color: var(--azulOscuro);
    text-decoration: none;
    padding: 10px 20px 10px 0px;
    font-weight: inherit;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    margin-right: 10px;
}

li a::after {
    content: "";
    display: inline-flex;
    background: var(--rojoBrillante);
    width: 60%;
    position: relative;
    bottom: 10px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

li a:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

nav button {
    display: inline-block;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    border: none;
    background-color:rgb(112, 13, 13);
    color: var(--blancoNatural);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

/* BANNER SLIDER */

.slider {
    width: 1150px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0 0 100px;
}

.slides {
    width: 500%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 1.5s;
}

.slide img {
    width: 1150px;
    height: 400px;
}

/* BANNER SLIDER NAVEGACION MANUAL */

.navigation-manual{
    position: absolute;
    width: 1000px;
    margin-top: -40px;
    display: flex;
    margin-left: 440px;
}

.manual-btn {
    border: 2px solid var(--rojoBrillante);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 60px;
}

.manual-btn:hover {
    background: var(--grisClaro);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/* BANNER SLIDER NAVEGACION AUTOMÁTICO */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 1000px;
    margin-top: 360px;
    margin-left: 440px;
}

.navigation-auto div {
    border: 2px solid rgb(174, 238, 184);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 60px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: var(--grisClaro);
}


#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: var(--grisClaro);
}


#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: var(--grisClaro);
}


#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: var(--grisClaro);
}

/* BANNERS PEQUEÑOS 1 */

.banners-pequeños1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.banners-pequeños1 img {
    width: 100%;
    height: 90%;
    border-radius: 10px;
}

/* BANNERS PEQUEÑOS 2 */

.banners-pequeños2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-left: 15px;
}

.banners-pequeños2 img {
    width: 400px;
    height: 250px;
    border-radius: 10px;
}

/* ANUNCIO DE PRÓXIMO RECITAL */

.banner-recital img {
    margin-top: 25px;
    width: 100%;
    height: 100px;
}